<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN" "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8" />
    <property name="severity" value="warning" />
    <property name="fileExtensions" value="java, properties, xml" />

    <!-- Excludes all 'module-info.java' files -->
    <module name="BeforeExecutionExclusionFileFilter">
        <property name="fileNamePattern" value="module\-info\.java$" />
    </module>

    <!-- Size Violations -->
    <module name="FileLength">
        <property name="max" value="2000" />
    </module>
    <module name="LineLength">
        <property name="max" value="120" />
        <property name="ignorePattern"
            value="^package.*|^import.*|a href|href|http://|https://|ftp://" />
    </module>


    <!-- Spring Boot specific checks -->
    <module name="RegexpSingleline">
        <property name="format" value="System\.out\.print" />
        <property name="message" value="Use logger instead of System.out" />
    </module>
    <module name="RegexpSingleline">
        <property name="format" value="System\.err\.print" />
        <property name="message" value="Use logger instead of System.err" />
    </module>

    <module name="TreeWalker">
        <!-- Checks for Javadoc comments -->
        <module name="InvalidJavadocPosition" />
        <module name="JavadocMethod">
            <property name="scope" value="public" />
            <property name="allowMissingParamTags" value="true" />
            <property name="allowMissingReturnTag" value="true" />
        </module>
        <module name="JavadocType">
            <property name="scope" value="public" />
            <property name="allowMissingParamTags" value="true" />
        </module>
        <module name="JavadocVariable">
            <property name="scope" value="public" />
        </module>
        <module name="JavadocStyle" />

        <!-- Checks for Naming Conventions -->
        <module name="ConstantName" />
        <module name="LocalFinalVariableName" />
        <module name="LocalVariableName" />
        <module name="MemberName" />
        <module name="MethodName" />
        <module name="PackageName" />
        <module name="ParameterName" />
        <module name="StaticVariableName" />
        <module name="TypeName" />

        <!-- Checks for imports -->
        <module name="AvoidStarImport" />
        <module name="IllegalImport" />
        <module name="RedundantImport" />
        <module name="UnusedImports">
            <property name="processJavadoc" value="true" />
        </module>

        <!-- Checks for Size Violations -->
        <module name="MethodLength">
            <property name="max" value="150" />
        </module>
        <module name="ParameterNumber">
            <property name="max" value="7" />
        </module>

        <!-- Checks for whitespace -->
        <module name="EmptyForIteratorPad" />
        <module name="GenericWhitespace" />
        <module name="MethodParamPad" />
        <module name="NoWhitespaceAfter" />
        <module name="NoWhitespaceBefore" />
        <module name="OperatorWrap" />
        <module name="ParenPad" />
        <module name="TypecastParenPad" />
        <module name="WhitespaceAfter" />
        <module name="WhitespaceAround" />

        <!-- Modifier Checks -->
        <module name="ModifierOrder" />
        <module name="RedundantModifier" />

        <!-- Checks for blocks -->
        <module name="AvoidNestedBlocks" />
        <module name="EmptyBlock" />
        <module name="LeftCurly" />
        <module name="NeedBraces" />
        <module name="RightCurly" />

        <!-- Checks for common coding problems -->
        <module name="EmptyStatement" />
        <module name="EqualsHashCode" />
        <module name="HiddenField" />
        <module name="IllegalInstantiation" />
        <module name="InnerAssignment" />
        <module name="MagicNumber" />
        <module name="MissingSwitchDefault" />
        <module name="SimplifyBooleanExpression" />
        <module name="SimplifyBooleanReturn" />

        <!-- Checks for class design -->
        <module name="DesignForExtension" />
        <module name="FinalClass" />
        <module name="HideUtilityClassConstructor" />
        <module name="InterfaceIsType" />
        <module name="OneTopLevelClass" />
        <module name="VisibilityModifier" />

        <!-- Miscellaneous other checks -->
        <module name="ArrayTypeStyle" />
        <module name="FinalParameters" />
        <module name="TodoComment" />
        <module name="UpperEll" />

        <!-- Spring Boot specific -->
        <module name="AnnotationLocation">
            <property name="tokens"
                value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, METHOD_DEF, CTOR_DEF, VARIABLE_DEF" />
            <property name="allowSamelineSingleParameterlessAnnotation" value="false" />
        </module>
    </module>
</module>
