<!DOCTYPE html>

<html th:fragment="layout (template, menu)" xmlns:th="https://www.thymeleaf.org" lang="en" th:lang="${#locale.language}">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/emerald-grove-logo-icon-dark.png}">
  <title th:text="#{layoutTitle}">PetClinic :: a Spring Framework demonstration</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap">
  <link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/resources/css/petclinic.css}" />

</head>

<body class="liatrio-app">

  <nav class="navbar navbar-expand-lg navbar-dark" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}">
        <span class="navbar-brand-logo" aria-hidden="true"></span>
        <span class="navbar-brand-text" th:text="#{layoutTitle}">Emerald Grove Veterinary Clinic</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navbar" style>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0" th:remove="all">

          <li th:fragment="menuItem (link,active,title,glyph,text)" th:class="nav-item">
            <a th:class="${active==menu ? 'nav-link active' : 'nav-link'}" th:href="@{__${link}__}" th:title="${title}">
              <span th:class="'fa fa-'+${glyph}" class="fa fa-home"></span>
              <span th:text="${text}">Template</span>
            </a>
          </li>

        </ul>

        <ul class="nav navbar-nav ms-auto">

          <li th:replace="~{::menuItem ('/','home','home page','home',#{home})}">
            <span class="fa fa-home" aria-hidden="true"></span>
            <span th:text="#{home}">Home</span>
          </li>

          <li th:replace="~{::menuItem ('/owners/find','owners','find owners','search',#{findOwners})}">
            <span class="fa fa-search" aria-hidden="true"></span>
            <span th:text="#{findOwners}">Find owners</span>
          </li>

          <li th:replace="~{::menuItem ('/vets.html','vets','veterinarians','th-list',#{vets})}">
            <span class="fa fa-th-list" aria-hidden="true"></span>
            <span th:text="#{vets}">Veterinarians</span>
          </li>

          <li th:replace="~{::menuItem ('/visits/upcoming','visits','upcoming visits','calendar',#{upcomingVisits})}">
            <span class="fa fa-calendar" aria-hidden="true"></span>
            <span th:text="#{upcomingVisits}">Upcoming Visits</span>
          </li>

          <li
            th:replace="~{::menuItem ('/oups','error','trigger a RuntimeException to see how it is handled','exclamation-triangle',#{error})}">
            <span class="fa exclamation-triangle" aria-hidden="true"></span>
            <span th:text="#{error}">Error</span>
          </li>

          <li class="nav-item dropdown" data-testid="lang-selector">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" th:aria-label="#{lang.selector}"
              th:text="${#locale.language.toUpperCase()}">EN</a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" th:classappend="${#locale.language == 'en'} ? ' active'"
                  th:href="@{__${currentUrl}__(lang=en)}"
                  th:text="#{lang.en}">EN</a>
              </li>
              <li>
                <a class="dropdown-item" th:classappend="${#locale.language == 'es'} ? ' active'"
                  th:href="@{__${currentUrl}__(lang=es)}"
                  th:text="#{lang.es}">ES</a>
              </li>
              <li>
                <a class="dropdown-item" th:classappend="${#locale.language == 'de'} ? ' active'"
                  th:href="@{__${currentUrl}__(lang=de)}"
                  th:text="#{lang.de}">DE</a>
              </li>
              <li>
                <a class="dropdown-item" th:classappend="${#locale.language == 'fa'} ? ' active'"
                  th:href="@{__${currentUrl}__(lang=fa)}"
                  th:text="#{lang.fa}">FA</a>
              </li>
              <li>
                <a class="dropdown-item" th:classappend="${#locale.language == 'ko'} ? ' active'"
                  th:href="@{__${currentUrl}__(lang=ko)}"
                  th:text="#{lang.ko}">KO</a>
              </li>
              <li>
                <a class="dropdown-item" th:classappend="${#locale.language == 'pt'} ? ' active'"
                  th:href="@{__${currentUrl}__(lang=pt)}"
                  th:text="#{lang.pt}">PT</a>
              </li>
              <li>
                <a class="dropdown-item" th:classappend="${#locale.language == 'ru'} ? ' active'"
                  th:href="@{__${currentUrl}__(lang=ru)}"
                  th:text="#{lang.ru}">RU</a>
              </li>
              <li>
                <a class="dropdown-item" th:classappend="${#locale.language == 'tr'} ? ' active'"
                  th:href="@{__${currentUrl}__(lang=tr)}"
                  th:text="#{lang.tr}">TR</a>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <main class="container xd-container liatrio-main">
      <th:block th:insert="${template}" />
    </main>
    <footer class="liatrio-footer">
      <div class="row">
        <div class="col-12 text-center">
          <img src="../static/images/emerald-grove-logo-with-text-dark.png" th:src="@{/resources/images/emerald-grove-logo-with-text-dark.png}"
            th:alt="#{layout.footer.logo.alt}" alt="Emerald Grove Veterinary Clinic logo" class="logo">
        </div>
      </div>
    </footer>
  </div>

  <script th:src="@{/webjars/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
