.navbar {
  border-top: 4px solid $spring-green;
  background-color: $spring-brown;
  margin-bottom: 0px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.navbar a.navbar-brand {
  margin: 12px 0 6px;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  padding: 0;
}

.navbar a.navbar-brand .navbar-brand-logo {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../images/emerald-grove-logo-dark.png") center no-repeat;
  background-size: contain;
}

.navbar a.navbar-brand .navbar-brand-text {
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.navbar li > a, .navbar-text {
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 8px;
  text-shadow: none;
  font-size: 14px;

/* line-height: 14px; */
  padding: 28px 20px;
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -ms-transition: all 0.15s;
}

.navbar li > a {
  text-transform: uppercase;
}

.navbar li > a .fa {
  font-size: 12px;
}

.navbar .navbar-text {
  margin-top: 0;
  margin-bottom: 0;
}
.navbar li:hover > a {
  color: #eeeeee;
  background-color: #6db33f;
}

.navbar-toggle {
  border-width: 0;

  .icon-bar + .icon-bar {
    margin-top: 3px;
  }
  .icon-bar {
    width: 19px;
    height: 3px;
  }

}
