@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap");

body, h1, h2, h3, p, input {
  margin: 0;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  color: #f8f9fa;
}

h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}

strong {
  font-weight: 700;
}
